
<ul>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="contact">Contact Us</a></li>
    <li><a routerLink="about">About Us</a></li>
  </ul>
  
    <div class="header">
      <h2>Header</h2>
    </div>
    
    <div class="row">
      <div class="column side" style="background-color:#9f0808;">Column</div>
      <div class="column middle" style="background-color:rgb(43, 169, 57);"><router-outlet></router-outlet></div>
      
    </div>
    
    <div class="footer">
      <p>Footer</p>
    </div>