
<ul>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="contact">Contact Us</a></li>
    <li><a routerLink="about">About Us</a></li>
    <li><a routerLink="addproduct">Add New Product</a></li>
    <li><a routerLink="admin">Admin Profile Page</a></li>
    <li><a routerLink="cart">Cart</a></li>
    <li><a routerLink="editprofile">Edit Profile</a></li>
    <li><a routerLink="myorders">My Orders</a></li>
    <li><a routerLink="payment">Do Payment</a></li>
    <li><a routerLink="profile">View Profile</a></li>
    <li><a routerLink="stock">Stock</a></li>
    <li><a routerLink="complains">Complains</a></li>
    <li><a routerLink="logout"><i class="fa fa-fw fa-user"></i>Logout</a></li>
   
    
  </ul>
  
    <div class="header">
      <h2>Header</h2>
    </div>
    
    <div class="row">
      <div class="column side" style="background-color:#9f0808;">Column</div>
      <div class="column middle" style="background-color:rgb(43, 169, 57);"><router-outlet></router-outlet></div>
      
    </div>
    
    <div class="footer">
      <p>Footer</p>
    </div>